@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Kreon:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFDF8;
    color: black;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.0625rem; /* 1px em rem */
    line-height: 1.8;
    text-align: justify;
    overflow-x: hidden;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(196, 196, 196, 0.7); 
    position: fixed;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(10px); /* Efeito de desfoque */
}

/* HERO - PARALLAX */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

/* Logo */
.logo {
    width: 7rem;
    height: auto;
}

/* Links de navegação */
.nav_links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav_links li a {
    color: #005197;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav_links li a:hover {
    color: #009A66;
}

h1 {
    font-size: 3rem;
    color: #005197;
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    animation: fadeInUp 1.5s ease-out forwards;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* ANIMAÇÃO FADE-IN-UP */
@keyframes fadeInUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#hero_content {
    padding: 4rem 13rem 6.5rem 8rem;
}

/* PARÁGRAFOS */
.paragraph_1 {
    display: flex;
    gap: 5rem;
}

.paragraph_1_text {
    font-size: 1.2rem;
    font-weight: 500;
}

.image_p1 img {
    width: 27rem;
    height: auto;
}

.mensagem {
    margin-top: 1rem;
    color: #005197;
}

h3 {
    color: #007C53;
}

/* Estrutura principal da seção */
.item {
    display: flex;
    align-items: flex-start;
    gap: 2rem; /* Espaçamento entre texto e imagem */
    margin: 1rem 0;
}

/* Título da seção */
.item_texto h2 {
    color: #FDBE50;
}

/* Imagem mantém o tamanho fixo */
.item_imagem img {
    width: auto;
    max-width: 25rem; /* Ajuste o tamanho máximo conforme necessário */
    height: auto; /* Mantém as proporções */
}

/* Botão estilizado */
.btn_ver_mais {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: #009A66; /* Verde da logo do INSS */
    color: #FFF; /* Texto branco */
    border: none;
    border-radius: 20px; /* Bordas arredondadas */
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

/* Links dentro do botão */
.btn_ver_mais a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Garante que o link herde a cor branca do botão */
    font-weight: inherit; /* Herda o estilo de fonte do botão */
}

/* Efeito hover no botão */
.btn_ver_mais:hover {
    background-color: #007C53; /* Tom de verde mais escuro no hover */
}

/* FOOTER */
.footer {
    background-color: #21165c;
    color: #FFFDF8;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer a {
    color: #FFFDF8;
    text-decoration: none;
    margin-bottom: 2rem;
}

.footer_nav_links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 1rem;
}

.footer_nav_links li a {
    color: #FFFDF8;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer_nav_links li a:hover {
    color: #009A66;
}

.redes p {
    margin-bottom: 0.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.links_redes {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.rede1 img, .rede2 img, .rede3 img, .rede4 img {
    height: 40px;
}

.rede1 img:hover {
    background-color: #005197;
    border-radius: 50%;
}

.rede2 img:hover {
    background-color: #c40089;
    border-radius: 50%;
}

.rede3 img:hover {
    background-color: #9d0000;
    border-radius: 50%;
}

.rede4 img:hover {
    background-color: #000000;
    border-radius: 50%;
}

.final {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* Media Query para telas pequenas */
@media screen and (max-width: 360px) {
    .header {
        align-items: flex-start;
        padding: 15px 20px;
    }
    
    .logo {
        width: 5rem;
    }

    .nav_links {
        flex-direction: row;
        gap: 10px;
    }

    #hero_content {
        padding: 3rem 1rem 3rem 1rem;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
        margin-top: 30px;
    }

    .mensagem {
        text-align: center;
    }

    #hero_content p {
        font-size: 1rem;
        text-align: justify;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        margin-top: 10px;
        gap: 5px;
    }
    
    .item_imagem img {
        width: 100%;
        max-width: 300px;
        height: auto; 
    }
    
    .item_texto {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .item_texto h2 {
        font-size: 22px;
    }
    
    .item_texto h3 {
        font-size: 18px;
        margin-top: 1px;
        margin-bottom: 5px;
    }
    
    .item_texto p {
        margin-top: 10px;
        margin-bottom: 10px
    }
    
    .item_texto ul {
        list-style: none; 
        text-align: left;
    }
    
    .item_texto ul li {
        font-size: 1rem;
        margin-bottom: 1px;
    }
    
    .btn_ver_mais {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    
    .footer {
        padding: 1rem 1rem 1rem 1rem;
    }

    .links_redes {
        gap: 15px;
    }
    
    .rede1 img, .rede2 img, .rede3 img, .rede4 img {
        height: 25px;
    }

    .final p {
        font-size: 10px;
    }
}

